*.class
*~
*.lock
*.DS_Store
*.swp
*.out
war/WEB-INF/classes
gwt-unitCache/
war/main
war/WEB-INF/deploy/
created-war/
war/croo.szakdolgozat.Main.JUnit/
war/croo.szakdolgozat.Main/
war/croo.szakdolgozat.*
reports/htmlunit.*
www-test/croo.szakdolgozat.*
www-test/WEB-INF/deploy/
