/** CSS rules for main layout and fonts. */

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

a, a:visited, a:hover {
  color: blue;
}

#wrapper{
	-moz-box-shadow:    5px 3px 5px 5px #000;
  -webkit-box-shadow: 5px 3px 5px 5px #000;
  box-shadow:         5px 3px 5px 5px #000;
	width:1027px;
	height:768px;
	margin-left: auto;
	margin-right:auto;	
	text-align: center;
}

#map{
  
  padding-top: 2px;
  margin-top: 3px;
}

#travelinfo{
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	padding-top: 30px;
	width:80%;
}

#title{
	display:block;
	background-image:url('title_bg_normal_size.jpg');
	background-repeat:no-repeat;
	background-position:center;
	height:150px;
	width:1024px;
}

.gwt-PopupPanelGlass{
	color:gray;
}

.placeButton{
	cursor: pointer; 
	cursor: hand;
	color:black;	
}

.placeButton:hover{
	cursor: pointer; 
	cursor: hand;
	color:black;
	font-size:medium;
	background-color: #BBDDFD;
}

.placeButton-readonly{
	color: grey;
}

.placeButton-link{
	cursor: pointer; 
	cursor: hand;
	color: blue;
}

.placeButton-link:hover{
	cursor: pointer; 
	cursor: hand;
	color: blue;
	font-size:medium;
	background-color: #BBDDFD;
}

.headerLabel{ 
	font-size:medium;	
	font-variant: small-caps;
}