/** CSS rules for main layout and fonts. */

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

#wrapper{
	width:1027px;
	height:768px;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
}

#map{
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

#travelinfo{
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	padding-top: 30px;
	width:80%;
}

#title{
	display:block;
	background-image:url('title_bg_normal_size.jpg');
	background-repeat:no-repeat;
	height:250px;
}

.gwt-PopupPanelGlass{
	color:gray;
}

.placeButton{
	cursor: pointer; 
	cursor: hand;
}

.placeButton-readonly{
	color: grey;
}

.placeButton-link{
	cursor: pointer; 
	cursor: hand;
	color: blue;
}

.headerLabel{ 
	font-size:medium;	
	font-variant: small-caps;
}

.placeButton-hover{
	background-color:00CCFF;
}