/** CSS rules for main layout and fonts. */

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

#wrapper{
	width:1240px;
	height:1024px;
}

#map{
	display:inline-block;
	float:left;
	width:800px;
	height:600px;
}

#filtering{
	display:inline-block;
	width:300px;	
}

#pricing{
	display:inline-block;
	width:300px;
}

.gwt-HTML-placeButton{
	background-color:gray;
}

.gwt-HTML-placeButton:hover{
	cursor: pointer; 
	cursor: hand;
	background-color:00CCFF;
}